
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-1-axu {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-prnm-1HX {
    background-color: #5a3a8e;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.2rem 7.8rem 0.7rem 3.4rem;
    width: 100%;
    height: 8.3rem;
    display: flex;
    align-items: center;

    .auto-group-zgtm-TBT {
      position: relative;
      flex-shrink: 0;
      margin: 0.5rem 106.7rem 0.5rem 0rem;
      width: 10.7rem;
      height: calc(100% - 1rem);

      .item-444-1970-w6d {
        position: absolute;
        left: 0;
        top: 1.1rem;
        white-space: nowrap;
        width: 10.7rem;
        height: 3rem;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
      }
      .pngtree-circle-phone-call-icon-in-black-color-png-image6596895-1-ZNu {
        width: 5.9rem;
        height: 5.4rem;
        position: absolute;
        left: 3.2rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .siparistakip-1-DiM {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.5rem 0.1rem 0rem;
      width: 8.2rem;
      height: 4.3rem;
    }
    .auto-group-fdjd-w8Z {
      width: 53.7rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.3rem 0rem 2rem 0rem;

      .line-3-eof {
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
        margin: 0rem 0rem 0.1rem 26.8rem;
        width: 0.1rem;
      }
      .line-2-kbo {
        margin: 0rem 35.2rem 0.8rem 18.4rem;
        width: calc(100% - 53.6rem);
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .sipari-takip-ubelerimiz-export-UXo {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .hachasan-1-N7P {
    height: 8.4rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 6.2rem 1.5rem 0rem;
    width: 15rem;
  }
  .auto-group-f5lr-tLd {
    flex-shrink: 0;
    margin-bottom: 6rem;
    width: 100%;
    height: 10.5rem;
    background-size: cover;
    background-position: center;
    background-image: url('REPLACE_IMAGE:2:4');
    position: relative;
    background-repeat: no-repeat;

    .rectangle-1-dJD {
      left: 0;
      top: 1.5rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ebebeb;
      width: 192rem;
      height: 7.6rem;
      position: absolute;
    }
    .baklava-kadayif-su-brei-stl-tatlilar-kestane-ekeri-tepsiler-LiR {
      top: 4.7rem;
      color: #000000;
      width: 146.6rem;
      left: 8.7rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
      position: absolute;
    }
  }
  .baklava1-1-BDF {
    vertical-align: top;
    flex-shrink: 0;
    width: 192rem;
    height: 73.6rem;
    object-fit: cover;
  }
}
