
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-3-crq {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-r2gu-yBb {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.4rem 7.7rem 9.741rem 11.8rem;

    .auto-group-jgnh-hNV {
      margin: 0rem 60.9rem 0.6rem 43.4rem;
      width: calc(100% - 104.3rem);
      height: 5.9rem;
      position: relative;
      flex-shrink: 0;

      .e-blten-QGu {
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        display: flex;
        align-items: baseline;
        width: 20.9rem;
        position: absolute;
        top: 0;
        font-size: 3.2rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        height: 5.9rem;
        left: 24.1rem;

        .e-blten-QGu-sub-0 {
          font-size: 4.8rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .e-blten-QGu-sub-1 {
        }
      }
      .line-4-S77 {
        width: 68.2rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 4.5969rem;
        background-color: #94227b;
      }
    }
    .haber-ve-kampanyalarmzdan-bilgi-almak-iin-e-bltenimize-abone-olabilirsiniz-xLM {
      white-space: nowrap;
      display: flex;
      font-size: 4.8rem;
      font-weight: 400;
      line-height: 1.2125;
      align-items: baseline;
      flex-shrink: 0;
      margin: 0rem 0rem 3.3rem 28.1rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';

      .haber-ve-kampanyalarmzdan-bilgi-almak-iin-e-bltenimize-abone-olabilirsiniz-xLM-sub-0 {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .haber-ve-kampanyalarmzdan-bilgi-almak-iin-e-bltenimize-abone-olabilirsiniz-xLM-sub-1 {
      }
    }
    .auto-group-qcmj-ra9 {
      background-color: #651e67;
      margin: 0rem 61.7rem 1.55rem 41.6rem;
      width: calc(100% - 103.3rem);
      height: 5rem;
      display: flex;
      align-items: center;
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      line-height: 1.2125;
      flex-shrink: 0;
      font-size: 3.2rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;

      .auto-group-qcmj-ra9-sub-0 {
      }
      .auto-group-qcmj-ra9-sub-1 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .gnder-Ltd {
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      margin: 0rem 17.7rem 2rem 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      font-size: 3.2rem;
      flex-shrink: 0;
    }
    .baklava-hakknda-baklava-osmanl-saray-mutfann-tatllar-arasnda-yer-alr-baklava-tm-dnyada-tannarak-geleneksel-trk-tatls-olarak-kabul-edilmitir-kendine-has-lezzeti-ve-ince-hamurunun-katlarnn-fazlal-ile-zellikleri-aranan-baklava-erbetli-tatllarn-en-banda-yer-almaktadr-hac-hasan-oullar-markas-her-trl-baklava-eitlerini-reterek-mterilerine-sunmaktadr-1970li-yllardan-bu-gne-kadar-baklava-ve-tatl-eitleri-alannda-hizmet-vermektedir-hac-hasan-oullar-retimi-olan-birok-baklava-eidi-bulunmaktadr-baklava-eitleri-arasnda-cevizli-baklava-fstkl-baklava-souk-baklava-stl-nuriye-cevizli-incir-havu-dilim-cevizli-kvrm-baklava-fstkl-midye-baklava-cevizli-midye-baklava-fstkl-burma-baklava-cevizli-burma-baklava-fstkl-biyet-kuru-baklava-ev-baklavas-cevizli-koza-baklava-yer-almaktadr-baklava-eitleri-cevizli-baklava-cevizli-baklava-en-yksek-kalitede-cevizler-kullanlarak-retilen-el-amas-baklava-hamuru-ile-oluturulan-bir-lezzettir-cevizli-baklava-erbetinin-kvam-ve-damaklarda-brakt-lezzet-ile-olduka-tercih-edilen-bir-baklava-eidi-olmaktadr-025-gr-baklava-ierisinde-5ile-6adet-dilim-050-gr-baklavada-11ile-12adet-baklava-dilim-1-kg-baklavada-23ile-24adet-baklava-dilim-15-kg-baklavada-34ile-35adet-arasnda-baklava-dilimi-yer-almaktadr-baklava-dilimleri-el-kesimi-ve-erbet-younluuna-gre-farkl-olabilmektedir-05-kg-cevizli-baklava-fiyat-ise-100tl-olarak-belirlenmektedir-RfB {
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      align-items: center;
      font-size: 1.1rem;
      justify-content: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      max-width: 172.5rem;
      display: flex;

      .baklava-hakknda-baklava-osmanl-saray-mutfann-tatllar-arasnda-yer-alr-baklava-tm-dnyada-tannarak-geleneksel-trk-tatls-olarak-kabul-edilmitir-kendine-has-lezzeti-ve-ince-hamurunun-katlarnn-fazlal-ile-zellikleri-aranan-baklava-erbetli-tatllarn-en-banda-yer-almaktadr-hac-hasan-oullar-markas-her-trl-baklava-eitlerini-reterek-mterilerine-sunmaktadr-1970li-yllardan-bu-gne-kadar-baklava-ve-tatl-eitleri-alannda-hizmet-vermektedir-hac-hasan-oullar-retimi-olan-birok-baklava-eidi-bulunmaktadr-baklava-eitleri-arasnda-cevizli-baklava-fstkl-baklava-souk-baklava-stl-nuriye-cevizli-incir-havu-dilim-cevizli-kvrm-baklava-fstkl-midye-baklava-cevizli-midye-baklava-fstkl-burma-baklava-cevizli-burma-baklava-fstkl-biyet-kuru-baklava-ev-baklavas-cevizli-koza-baklava-yer-almaktadr-baklava-eitleri-cevizli-baklava-cevizli-baklava-en-yksek-kalitede-cevizler-kullanlarak-retilen-el-amas-baklava-hamuru-ile-oluturulan-bir-lezzettir-cevizli-baklava-erbetinin-kvam-ve-damaklarda-brakt-lezzet-ile-olduka-tercih-edilen-bir-baklava-eidi-olmaktadr-025-gr-baklava-ierisinde-5ile-6adet-dilim-050-gr-baklavada-11ile-12adet-baklava-dilim-1-kg-baklavada-23ile-24adet-baklava-dilim-15-kg-baklavada-34ile-35adet-arasnda-baklava-dilimi-yer-almaktadr-baklava-dilimleri-el-kesimi-ve-erbet-younluuna-gre-farkl-olabilmektedir-05-kg-cevizli-baklava-fiyat-ise-100tl-olarak-belirlenmektedir-RfB-sub-0 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .baklava-hakknda-baklava-osmanl-saray-mutfann-tatllar-arasnda-yer-alr-baklava-tm-dnyada-tannarak-geleneksel-trk-tatls-olarak-kabul-edilmitir-kendine-has-lezzeti-ve-ince-hamurunun-katlarnn-fazlal-ile-zellikleri-aranan-baklava-erbetli-tatllarn-en-banda-yer-almaktadr-hac-hasan-oullar-markas-her-trl-baklava-eitlerini-reterek-mterilerine-sunmaktadr-1970li-yllardan-bu-gne-kadar-baklava-ve-tatl-eitleri-alannda-hizmet-vermektedir-hac-hasan-oullar-retimi-olan-birok-baklava-eidi-bulunmaktadr-baklava-eitleri-arasnda-cevizli-baklava-fstkl-baklava-souk-baklava-stl-nuriye-cevizli-incir-havu-dilim-cevizli-kvrm-baklava-fstkl-midye-baklava-cevizli-midye-baklava-fstkl-burma-baklava-cevizli-burma-baklava-fstkl-biyet-kuru-baklava-ev-baklavas-cevizli-koza-baklava-yer-almaktadr-baklava-eitleri-cevizli-baklava-cevizli-baklava-en-yksek-kalitede-cevizler-kullanlarak-retilen-el-amas-baklava-hamuru-ile-oluturulan-bir-lezzettir-cevizli-baklava-erbetinin-kvam-ve-damaklarda-brakt-lezzet-ile-olduka-tercih-edilen-bir-baklava-eidi-olmaktadr-025-gr-baklava-ierisinde-5ile-6adet-dilim-050-gr-baklavada-11ile-12adet-baklava-dilim-1-kg-baklavada-23ile-24adet-baklava-dilim-15-kg-baklavada-34ile-35adet-arasnda-baklava-dilimi-yer-almaktadr-baklava-dilimleri-el-kesimi-ve-erbet-younluuna-gre-farkl-olabilmektedir-05-kg-cevizli-baklava-fiyat-ise-100tl-olarak-belirlenmektedir-RfB-sub-1 {
      }
    }
  }
  .auto-group-47nu-3LR {
    display: flex;
    background-repeat: no-repeat;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    background-image: url('REPLACE_IMAGE:9:30');
    box-sizing: border-box;
    padding: 4.009rem 86.887rem 4.009rem 4.439rem;
    width: 193.2763rem;
    height: 38.2187rem;
    align-items: flex-start;

    .auto-group-ycv9-LKX {
      margin: 0.4rem 10.95rem 0rem 0rem;
      width: 19rem;
      flex-shrink: 0;

      .iletiim-bilgileri-er1 {
        font-weight: 400;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
        line-height: 1.2125;
        margin-bottom: 4.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .yunus-emre-mah-2-yel-sok-no-2-mecidiyeky-istanbul-Zxy {
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        font-family: Inter, 'Source Sans Pro';
        width: 100%;
        max-width: 18.4rem;
        display: flex;
      }
    }
    .auto-group-pwsj-dT3 {
      margin-right: 14.75rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .kurumsal-n53 {
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 0rem 3.25rem 0.1rem;
        display: flex;
        align-items: center;
        font-size: 2.4rem;
        color: #ffffff;
        justify-content: center;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .hakkmzda-kurucumuz-kalite-politikamz-teslimat-artlar-kalite-belgelerimiz-i-bavurusu-HnV {
        justify-content: center;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 13.9rem;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: 1.2125;
        color: #ffffff;
      }
    }
    .auto-group-wv8z-NZ3 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.05rem 17.55rem 0rem 0rem;
      align-items: center;

      .bilgiler-JxV {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 2.5rem 2.85rem 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
      }
      .veri-saklama-ve-imha-politikas-gizlilik-ve-erez-politikas-mesefali-sat-szlemesi-kiisel-verilerin-korunmas-ska-sorulan-sorular-BFb {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        max-width: 15.2rem;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-h2eh-Rvd {
      flex-shrink: 0;
      width: 10.6rem;

      .yardm-nWH {
        font-family: Inter, 'Source Sans Pro';
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        margin-bottom: 2.4rem;
        color: #ffffff;
        white-space: nowrap;
      }
      .yelik-adres-bilgilerim-sipari-takibi-iptal-iade-yardm-v6h {
        width: 100%;
        display: flex;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        max-width: 10.6rem;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        color: #ffffff;
      }
    }
  }
}
